<footer class="footer">
  <div class="container">
    <div class="footer-section">
      <h3>Chi Siamo</h3>
      <p>
        Un'azienda indipendente che si occupa di produrre capi nello stile
        pastel goth, con forte ispirazione alla moda giapponese popolare ad
        Harajuku.
      </p>
    </div>
    <div class="footer-section">
      <h3>Link Utili</h3>
      <ul>
        <li><a href="#">Termini e Condizioni</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Contatti</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Seguici</h3>
      <div class="social-icons">
        <a href="#"><img src="assets\facebook-icon.png" alt="Facebook" /></a>
        <a href="#"><img src="assets\instagram-icon.png" alt="Instagram" /></a>
        <a href="#"><img src="assets\twitter-icon.png" alt="Twitter" /></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    © 2025 Boutique of Lilies - Tutti i diritti riservati
  </div>
</footer>
