@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap");

h2 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #a7abde;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Indie Flower", cursive;
}
